
.expense-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
  gap: 20px;
  padding: 20px;
}

.expense-card {
  background: white;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.expense-card:hover {
  transform: translateY(-4px);
}

.expense-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  font-size: 20px;
  font-weight: bold;
  color: #e63946;
}

.expense-body p {
  margin: 6px 0;
  color: #555;
}

.expense-actions {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.edit-btn {
  background: #457b9d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
}

.delete-btn {
  background: #e63946;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
}