/* const styles = {
  container: {
    // width: "100%",
    margin: "40px auto",
    // display: "flex",
    // justifyContent: "center",
  },
  card: {
    padding: "20px",
    borderRadius: "10px",
    boxShadow: "0 4px 10px rgba(0,0,0,0.1)",
    background: "#fff",
    // maxWidth: '500px',
     
  },

  heading: {
    // textAlign: "center" ,
    // marginBottom: "10px",
    color: 'black'
  },

  imageContainer: {
    display: "flex",
    justifyContent: "center",
    marginBottom: "15px"
  },

  image: {
    width: "80px",
    height: "80px",
    borderRadius: "50%",   // nice profile look
   
  },

  button: {
    width: "100%",
    padding: "10px",
    background: "#4CAF50",
    color: "#fff",
    border: "none",
    borderRadius: "6px",
    marginTop: "10px",
    cursor: "pointer"
  },
  submitBtn: {
    padding: '10px 15px',
    borderRadius: "6px",
    cursor: "pointer",
    boxShadow: '0 0px 5px rgba(49, 12, 97, 0.2)'
  }
} */
